# ========================
# Arquivos de build / binários
# ========================
target/
build/
.mvn/wrapper/maven-wrapper.jar

# Ignora builds específicos de IDE
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ========================
# IDEs
# ========================
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# ========================
# Arquivos de configuração sensíveis
# ========================
.env
*.secret

# ========================
# Logs e temporários
# ========================
*.log
*.tmp
*.bak
